<ion-menu [content]="content">


   

  <ion-content class="menu-left" style="top:2px;">
     

      <div text-center padding-top padding-bottom class="primary-bg menu-left" style="background-color: rgba(199, 230, 229, 0) !important;">
      <a menuClose >
        <img class="profile-picture"  src="assets/img/icon.png">
        <h4 color="light">{{name}}</h4>
      </a>
    </div>


    <ion-list class="list-full-border">
      <button ion-item menuClose *ngFor="let page of pages" (click)="openPage(page)">
        <ion-icon item-left name="{{ page.icon }}"></ion-icon>
        {{ page.title }}
        <ion-badge danger item-right *ngIf="page.count">{{ page.count }}</ion-badge>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
