<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Orders</ion-title>
    <ion-buttons end>     
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding class="cart gray-bg">  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
		</ion-refresher>
    <ion-searchbar  class="bar-light bar-subheader"
    placeholder="Start Orders"
  [showCancelButton]="true"
  (ionInput)="getCatogoriesProductName($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
  <ion-list class="list-no-border">

    <ion-item-sliding class="card" *ngFor="let item of orderViewModel; let i = index" margin-top (click)="itemSelected(item)">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/img/icon.png" alt="" style="    border-radius: 23px;
    border-style: hidden;"/>
        </ion-thumbnail>
        <p><small class="text-danger">{{ item.Name }}</small></p>
         <p><small class="text-danger">Total : ${{item.Total}} </small></p>  
     <p><small class="text-danger"> Payment : {{ item.Payment }} </small></p>
      <p *ngIf="item.OrderAddress!=null">Address :<small class="text-danger"> {{item.OrderAddress}} </small></p>
    <p *ngIf="item.OrderAddress==null">Address :<small class="text-danger"> Carryout Order </small></p>
        <div>
       
        </div>
      </ion-item>      
    </ion-item-sliding>
  
  </ion-list>
 
<!--<ion-list  class=" animated slideInUp" >
  <button ion-item *ngFor="let item of orderViewModel" (click)="itemSelected(item)" item-center>
    <p><small class="text-danger"> {{item.Name}} </small></p>
  <p *ngIf="item.OrderAddress!=null">Address :<small class="text-danger"> {{item.OrderAddress}} </small></p>
    <p *ngIf="item.OrderAddress==null">Address :<small class="text-danger"> Carryout Order </small></p>
    <p>Total :<small class="text-danger"> ${{item.Total}} </small></p> 
    <p>Order Status :<small class="text-danger"> {{item.OrderStatus}} </small></p> 
     <p>Payment : <small class="text-danger"> {{ item.Payment }} </small></p>
  </button> 
 
</ion-list>-->
</ion-content>
